@import "abstracts/mixins";

:root {
  --color-black: #000;
  --color-white: #FFFEFF;
  --color-yellow: #EBBC4D;
  --color-orange: #FBB35F;
  --color-red: #D97965;
  --color-indigo: #9D5066;
  --color-purple: #563452;
  --color-purple2: #8585F0;
  --color-primary: #1A192B;
  --color-primary-light: #312f50;
  --color-primary-dark: #13121f;
  --color-cream: #FFFADE;
  --color-cream2: #E8BB90;
  --color-green1: #94e151;
  --color-green2: #00AC7B;
  --color-green3: #005A34;
  --color-coral: #F88379;
  --color-pink1: #FFD1DC;
  --color-pink2: #FFB6C1;
  --color-pink3: #E75480;
  --color-peach: #FAD1AF;
  --color-grey-light: #d3d2d3;
  --color-grey-dark: #27263e;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 8px
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
