
:root {
  --color-black: #000;
  --color-white: #FFFEFF;
  --color-yellow: #EBBC4D;
  --color-orange: #FBB35F;
  --color-red: #D97965;
  --color-indigo: #9D5066;
  --color-purple: #563452;
  --color-primary: #1A192B;
  --color-primary-light: #312f50;
  --color-primary-dark: #13121f;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
