.wrapper {
  position: relative;
}

.row {
  display: flex;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--color-grey-light);

  &__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 1rem;
    transition: all .2s;
    min-width: 12rem;

    &:hover {
      cursor: pointer;
      transform: translateX(1rem);
    }
  }

  &__linkedin {
    border: 2px solid var(--color-green1);
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 0.4rem 2rem var(--color-green1);
    }
  }

  &__github {
    border: 2px solid var(--color-pink2);
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 0 0.4rem 2rem var(--color-pink2);
    }
  }

  &__hashnode {
    border: 2px solid var(--color-orange);
    &:hover {
      box-shadow: 0 0.4rem 2rem var(--color-orange);
    }
  }

  &__icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1rem;
  }

  &__name {
    font-size: 1.3rem;
    color: var(--color-white);
  }
}

.email {
  display: flex;
  align-items: center;
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
  }
  &__text {
    font-size: 2rem;
    color: var(--color-white);
  }
}

.illustration {
  display: flex;
  flex: 1;
  padding: 0 3rem;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 9rem;
  right: 0;
  z-index: -200;
}

.image {
  width: 75%;
  height: auto;
  opacity: .18;
}
