@import "../../../styles/abstracts/mixins";

.wrapper {
  display: flex;
  // height: 100vh;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  @include respond(tab-land) {
    flex-direction: column;
  } 
}

.textWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.headingPrimaryWhite {
  font-size: 4.5rem;
  color: var(--color-yellow);
  margin-bottom: 2rem;
  font-weight: 600;
}

.headingPrimaryYellow {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
}

.button {
  text-decoration: none;
  padding: 1rem;
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  border-radius: 4px;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all .2s;

  &:hover {
    box-shadow: 0 0.2rem .8rem var(--color-orange);
    transform: scale(1.1);
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileShape {
  width: 65%;
  border-radius: 50%;
  overflow: hidden;
  border: .8rem solid var(--color-yellow);

  @include respond(tab-land) {
    width: auto;
    margin-bottom: 10rem;
  }
}

.profileImage {
  height: 100%;
  width: 100%;
}