.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  background: url(../../../../public/images/cover-photo-3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  filter: blur(3px) brightness(0.2);
  clip-path: circle(102% at 50% -73%);
}

.header {
  padding: 4rem 6rem;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.name {
  font-size: 2.2rem;
  color: var(--color-white);
  font-family: cursive, "sans-serif";
  text-decoration: underline;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  &:hover {
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.icon {
  height: 2rem;
  width: 2rem;
}

.centerTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingPrimaryWhite {
  font-size: 4.5rem;
  color: var(--color-white);
  margin-bottom: 2rem;
  font-weight: 300;
}

.headingPrimaryYellow {
  font-size: 4.5rem;
  color: var(--color-yellow);
  font-weight: 600;
}
