.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  background: url(../../../../../public/images/cover-photo-3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  filter: blur(3px) brightness(0.2);
  clip-path: circle(102% at 50% -73%);
}

.header {
  padding: 4rem 6rem;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.name {
  font-size: 2.2rem;
  color: var(--color-white);
  font-family: cursive, "sans-serif";
  text-decoration: underline;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  &:hover {
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.icon {
  height: 2rem;
  width: 2rem;
}

.centerTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingPrimaryWhite {
  font-size: 4.5rem;
  color: var(--color-white);
  margin-bottom: 2rem;
  font-weight: 300;
  animation-name: anime;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

.greeting {
  position: relative;
  height: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.headingPrimaryWhite2 {
  font-size: 4.5rem;
  font-weight: 400;
  color: var(--color-white);
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.greet1 {
  animation-name: greet1Anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.greet2 {
  animation-name: greet2Anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: var(--color-pink2);
}
.greet3 {
  animation-name: greet3Anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: var(--color-purple2);
}
.greet4 {
  animation-name: greet4Anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: var(--color-peach);
}
.greet5 {
  animation-name: greet5Anime;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  color: var(--color-indigo);
}

.headingPrimaryYellow {
  font-size: 4.5rem;
  color: var(--color-yellow);
  font-weight: 600;
  letter-spacing: .2rem;
}

@keyframes greet1Anime {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@keyframes greet2Anime {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 0;
    visibility: visible;
  }
  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@keyframes greet3Anime {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  40% {
    visibility: visible;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes greet4Anime {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  60% {
    opacity: 0;
    visibility: visible;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes greet5Anime {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  80% {
    opacity: 0;
    visibility: visible;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
