@import "../../../styles/abstracts/mixins";

.skill {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 1rem 3rem;
  align-items: center;
  &:not(:last-child) {
    margin-right: 2rem;
    @include respond(phone) {
      margin-right: 0;
    }
  }
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-right: 1.5rem;
  @include respond(phone) {
    width: 20%;
    height: auto;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
}
