.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8rem 10rem;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  font-size: 4rem;
  background-image: linear-gradient(to right, var(--color-yellow), var(--color-red));
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 500;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.grid {
  width: 100%;
  flex: 1;
  margin-left: 4rem;
  display: flex;
  flex-wrap: wrap;
  height: 6rem;
  row-gap: 2rem;
}

.bgYellow {
  background-color: var(--color-yellow);
}
.bgRed {
  background-color: var(--color-red);
}
.bgPink1 {
  background-color: var(--color-pink1);
}
.textWhite {
  color: var(--color-white);
}
.bgIndigo {
  background-color: var(--color-indigo);
}
.bgCream {
  background-color: var(--color-cream);
}
.bgPeach {
  background-color: var(--color-peach);
}
.bgPurple {
  background-color: var(--color-purple);
}
.bgGreen1 {
  background-color: var(--color-green1);
}
.bgGreen3 {
  background-color: var(--color-green3);
}
.bgOrange {
  background-color: var(--color-orange);
}